#idi{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    width: 250px;
    z-index: 2000000000000;
    }
    
    #myNav{
        font-size: small;
    }
    .lik{
        width: 21px;
        height: 21px;
        padding: 2px 0px;
        border-radius: 15px;
        text-align: center;
        background-color: rgb(104, 103, 103);
        color: azure;
        font-size: 10px;
        line-height: 1.42857;
        margin-top: 150px;
    }
    #sha{
        width: 60px;
    }
    .lik:hover{
        background-color: black;
        color: white;
    }
    
    #conImg{
        top: 60px;
        height: 380px;
        width: 1000px;
        
        
    }
    .aboutm{
        width: 400px;
    }

.imgcontain{
    margin-left: 320px;
    display: flex;
    align-items: center;
    top:6rem;
    position: absolute;
    flex-direction: row;
    width: 20000px; 
    height: 513px;
    z-index: 1500;
  


}
#minimg{
    width: 100px;
    height: 100px;
}



@media (max-width:768px){
    /* for small screens */
    #txt1{
        width: 100%;
    }
    #conImg{
        width:100% !important;
    }
    
    .navhead{
        display: none !important;
    }
    #idi{
        width: auto !important;
        background-color: white !important;
        
        
    }
    .gimages{
        max-width: 100%;
        height: 311px;
    }
    .midi{
        justify-content: center;
        padding: 0;
        margin-top: 0;
        font-size: large !important;
        
    
    }
    #sha{
        display: none !important;
    }
    .imgcontain{
        width: 12000px;
    }
    

}
@media only screen and (min-width: 768px) {
    .gimages{
        max-width: 100%;
        height: 512px;
    }
.brandhead{
    display: none !important;
}
#idi{
    left: 70px;
    height: 100%;
    
    
}


}
