*{
    margin: 0%;
    padding: 0%;
}
.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ul{
    list-style: none;
}
.sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 250px;
    /* justify-content: center;
    align-items: center; */
    margin-left: 70px;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1500;
    position: fixed;
    padding-left: 5px;
}
.logo{
    padding-bottom: 25px ;
    margin-top: 110px;

    color: #000000;
    font-family: "Times New Roman", "Times Roman", serif;
    font-size: 26px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.1em;
}

.imgcontain{
    margin-left: 320px;
    display: flex;
    align-items: center;
    top:6rem;
    position: absolute;
    flex-direction: row;
    width: 20000px; 
    height: 513px;
    object-fit: cover;
    width: auto;    
  


}
img{
    width: auto;
    height: 520px;
    margin-right: 1px;
}
.sidebarcon{
    height: 620px;
    width: auto;
    margin-left: 10px;
}

.btn-circles {
    width: 21px;
    height: 21px;
    padding: 2px 0px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(104, 103, 103);
    color: azure;
    font-size: 10px;
    line-height: 1.42857;
}
.sha{
    width: 60px;
}
.btn-circles:hover{
    background-color: black;
}
.linking a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    

}
.linking{
    padding-bottom: 18px;
}
.copyr{
    font-size: 13px;
    color: rgb(134, 134, 134);
}